.session-form {
  padding: 1rem;

  &--title {
    font-weight: bold;
  }

  .form-field {
    row-gap: 1rem;
    display: grid;

    &--input {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &--save-btn-container {
    padding-top: 1rem;
    button {
      padding: 0.5rem 2rem;
    }
  }
}
